.main {
  min-height: 84vh;
  padding-top: 3rem;
}

.dashboard-title {
  font-size: 2rem !important;
  font-weight: 700 !important;
}

h1 {
  font-size: 2rem !important;
  font-weight: 700 !important;
}
